# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Iryna Gnatenko\Documents\3. STUDY\Nackademin\2. Objektorienterad Programmering\Sprint3\untitled1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
